<launch>    
    <node pkg="tf" type="static_transform_publisher" name="realsense_camera_link" args="0 0 0 0 0 0 /camera_link /realsense_link 100"/>
    <!-- <node pkg="ho_intervention" type="aruco_detection_node.py" name="aruco_detection_node" output="screen"/>     -->
    <node pkg="ho_intervention" type="tp_controller_node.py" name="tp_controller" />    
    <node pkg="ho_intervention" type="task_publisher_node.py" name="task_publisher" />    
</launch>